{
  "NODE_ENV": "DEV",
  "PORT": "80",
  "DB_HOST": "",
  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASS": "",
  "COOKIE_SECRET": "12345",
  "COOKIE_PREFIX": "LD",
  "INFURA_KEY": "",

  "ADDRESS_CHAINLINK_PROXY_PRICE_PROVIDER": "",
  "ADDRESS_LENDING_POOL": "",
  "ADDRESS_LENDING_POOL_CORE": "",
  "ADDRESS_LENDING_POOL_DATA_PROVIDER": "",

  "TOKENS": {
    "USDT": {
      "tokenAddress": "",
      "name": "Tether USD",
      "symbol": "USDT",
      "decimals": 6
    },
    "ETH": {
      "tokenAddress": "",
      "name": "Ethereum",
      "symbol": "ETH",
      "decimals": 18
    }
  },
  "ETH_EXPORER_URL": "https://rinkeby.etherscan.io/"
}
